<article class="li {{ .Type }}">
    <header class="post-header">
        <p class="post-time">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                {{ if eq .Page.Language.Lang "ru" }}
                    {{ .Date.Day }} {{ index $.Site.Data.months_ru (printf "%d" .Date.Month) }} {{ .Date.Year }}
                {{ else }}
                    {{ .Date.Format "January 2, 2006" }}
                {{ end }}
            </time>
        </p>
        <h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    </header>
    
    <section class="post-excerpt">
        <p>{{ .Summary }}</p>
    </section>

    <footer class="post-footer">
    </footer>
</article>